<h1>EverybodyEATs<h1/>
<h3>...and we are part of everybody!<h3/>

<% @users.each do |user| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if user.avatar.exists? %>
        <%=image_tag(user.avatar.url(:thumb), class:"profile-image img-responsive")%>
      <% else %>
        <%=image_tag("default_avatar.png", class:"nav-image img-responsive")%>
      <% end %>
      <%= link_to user.name, profile_path(user) %></div>
    <div class="panel-body">
      <p><%= user.my_story %></p>
    </div>
  </div>
<% end %>
