<h1>Interests#index</h1>
<p>Find me in app/views/interests/index.html.erb</p>


<% @interests.each do |interest| %>
  <%= "#{interest.user.name} wants to learn #{interest.user.wants_to_learn}"%>
<% end %>
